:root {
    --width-size: 960px;
    --height-size: 540px;
}

.tabNivo {
    width:var(--width-size);
    height:var(--height-size);
    background-color: white;
}
.nivoContainer {
    overflow: auto;

}