.movie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:170px;
}
.home_container{
    margin: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 4px rgba(0,0,0.1);
    /* background-color: thistle; */
    /* word-wrap: break-word; */
}

.home_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.movie_info{
    color : rgb(44, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    padding: 0px 10px;
}
.movie_info{
    margin: 0;
    font-size: 15px;
}
.movie_info span{
    margin-left: 3px;
}