:root{
    --width-size:960px;
    --height-size:540px;
}
.videoView{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    align-items: center;
    vertical-align: middle;
    background-color: rgba(127, 255, 212, 0.336);
    padding: 20px;
}
.videoWindow{
    display: flex;
    flex-direction: column;
    max-width: var(--width-size);
    width: 100%;
    max-height: var(--height-size)+50px;
    height: 100%;
}
.imgBox{
    max-width: var(--width-size);
    width: 100%;
    max-height: var(--height-size);
    height: 100%;
    background-color: white;
}
.imgView{
    max-width: var(--width-size);
    width: 100%;
    max-height: var(--height-size);
    height: 100%;
}
.buttonClass{
    display: flex;
    max-width: var(--width-size);
    height:60px;
    width:100%;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    flex-wrap: wrap;
}
.buttonList{
    padding: 5px;
}


.leftContents{
    margin-right: auto;
    display: flex;
    gap:10px;
    padding:10px;
    align-items: center;
}
.selectPet{
    display: flex;
    justify-content: space-around;
    gap:10px;
}
.actionBtn{
    padding: 5px;
}